@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
	font-family: "Roboto", sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	background-color: #101010;
	margin: 0;
}

div#menu {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #00000090;
}

div#menu > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div#menu > div > div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

canvas {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

table {
	position: fixed;
	backdrop-filter: blur(5px);
	background-color: #10101090;
	color: white;
	border-radius: 5px;
	z-index: 0;
	top: 10px;
	left: 10px;
	display: none;
	padding: 7px;
}

h1 {
	color: white;
}

div video {
	display: none;
}
		
.elmort {
	display: block;
	height: 100vh;
	width: 100%;
	position: fixed;
}

th {
	text-align: left;
}

button {
	padding: 15px 45px;
	background-color: #e67e22;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease;
	outline: none;
}

button:hover {
	opacity: 0.8;
}

#leftArrow, #rightArrow {
	border-radius: 100%;
	background-color: #DDDDDD;
	border: none;
	color: black;
	padding: 0;
	height: 30px;
	width: 30px;
	margin: 10px;
	font-size: 20px;
}

input {
	width: 225px;
	height: 25px;
	border: 1px solid #202020;
	border-radius: 5px;
	outline: none;
	font-size: 15px;
}

#korrumztopedal {
	display: none;
	position: fixed;
	right: 0;
	flex-direction: row;
}

#korrumztopedal img {
	float: right;
}